<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>登录</title>
</head>
<body>

<div>
  <form action="/login" method="post">
    <table>
      <tr>
        <td>
          <input type="text" value="admin" placeholder="账号" name="username">
        </td>
        <td>
          <input type="password" value="123" placeholder="密码" name="password">
        </td>
        <td>
          <button type="submit">登录</button>
        </td>
      </tr>
    </table>
  </form>
</div>

</body>
</html>