<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="30 seconds" packagingData="true">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--格式化输出：%d:表示日期    %thread:表示线程名     %-5level:级别从左显示5个字符宽度  %msg:日志消息    %n:是换行符-->
            <pattern>%red(%d{yyyy-MM-dd HH:mm:ss}) %blue([%thread]) %highlight(%-5level) %green(%logger) - %cyan(%msg%n)
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <!--全局日志等级-->
    <!-- 1. 上线后请将此处的日志等级修改为：ERROR 2. 开发或者本地部署测试：DEBUG / INFO -->
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>