<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <title>Show User</title>
</head>
<body>
<form method="post" action="/api/v1/test/login">
    <table>
        <tr>
            <td>
                <input name="userName" type="text">
            </td>
        </tr>
        <tr>
            <td>
                <input name="password" type="password">
            </td>
        </tr>
        <tr>
            <td>
                <input name="captcha" type="text">
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit">submit</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>