<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.4//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chachae.dao.RoleDAO">

    <!-- 维护角色-权限中间表数据【新增】 -->
    <insert id="saveRelation">
        INSERT INTO t_role_permission
        SET role_id = #{roleId,jdbcType=BIGINT},
            permission_id = #{permissionId,jdbcType=BIGINT};
    </insert>

    <!-- 维护角色-权限中间表数据【删除】 -->
    <delete id="removeRelation">
        DELETE
        FROM t_role_permission
        WHERE role_id = #{roleId,jdbcType=BIGINT}
    </delete>

    <!-- 维护角色-权限中间表数据【删除】 -->
    <delete id="removeRelationByPermissionId">
        DELETE
        FROM t_role_permission
        WHERE permission_id = #{permissionId,jdbcType=BIGINT}
    </delete>

</mapper>