<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.4//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chachae.dao.UserInfoDAO">
    <resultMap id="baseMap" type="UserInfoVO">
        <id column="id" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="email" property="email"/>
        <result column="mobile" property="mobile"/>
        <result column="admin" property="admin"/>
        <result column="gender" property="gender"/>
        <result column="avatar" property="avatar"/>
        <result column="qq_number" property="qqNumber"/>
        <result column="wechat_id" property="wechatId"/>
        <result column="site" property="site"/>
        <result column="description" property="description"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="login_time" property="loginTime"/>
        <result column="login_ip" property="loginIp"/>
        <association property="department" javaType="Department" columnPrefix="d_">
            <id column="id" property="id"/>
            <result column="name" property="name"/>
        </association>
        <collection property="roles" ofType="com.chachae.entity.bo.Role"
                    select="com.chachae.dao.RoleDAO.selectRoleByUserId" column="id">
        </collection>
    </resultMap>
    <sql id="baseQuerySql">
        SELECT t_user_info.id,t_user.user_name,t_user_info.email,t_user_info.mobile,t_user.admin,
               t_user_info.gender,t_user_info.avatar,t_user_info.qq_number,t_user_info.wechat_id,
               t_user_info.site,t_user_info.description,t_user_info.create_time,t_user_info.update_time,
               t_user_info.login_time,t_user_info.login_ip,t_user_info.department_id d_id,t_department.name d_name
        FROM t_user_info
                 LEFT JOIN t_user ON t_user_info.id = t_user.id
                 LEFT JOIN t_department ON t_user_info.department_id = t_department.id
    </sql>
    <select id="selectPageVO" resultMap="baseMap">
        <include refid="baseQuerySql"/>
        <where>
            <if test="dto.admin != null">
                t_user.admin = #{dto.admin,jdbcType=BOOLEAN}
            </if>
            <if test="dto.gender != null">
                AND t_user_info.gender = #{dto.gender,jdbcType=INTEGER}
            </if>
            <if test="dto.keyword != null and dto.keyword != ''">
                AND t_user.user_name LIKE CONCAT( '%', #{dto.keyword,jdbcType=VARCHAR},'%')
            </if>
        </where>
    </select>

    <select id="selectVoByUserName" resultMap="baseMap">
        <include refid="baseQuerySql"/>
        WHERE user_name = #{username,jdbcType=VARCHAR}
    </select>
</mapper>